*.record
annotations/*.record

annotations/shards/*.record
annotations/test_records/*.record
scripts/pre_procesing/Data/EPFL/*.record
scripts/pre_procesing/Data/EPFL/shards/*.record
annotations/test_records/*.record
scripts/pre_procesing/Data/EPFL/*.record



